html, body, div, a, ul, li, input, form {
	margin: 0;
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background: none;
}

.query-container{
	margin-left: 10px;
	margin-top: 10px;
}

#query {
	border: 1px solid black;
}

.submit-btn {
	border-top: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: -5px;
	padding: 0 10px;
	font-family: sans-serif;
	color: white;
	background: #06f;
}

.submit-btn:hover {
	color: #06f;
	background: white;
};